/* ===== Desktop Styles ===== */
.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  
}

.logoContainer h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.navbar {
  background-color: #ff9b05;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: fixed;
}

.logo {
  width: 40px;
  height: 40px;
}

.navLinks {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background: #ff9b05;
  display: flex;           /* flex olmalı gap işləməsi üçün */
  flex-direction: column;
  padding: 30px 20px;
  gap: 25px;               /* keçidlər arası məsafə burda */
  transform: translateX(100%);
  transition: transform 0.35s ease;
  z-index: 9999;
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  display: block;          /* blok olaraq genişlənir */
}


.navLinks.open {
  transform: translateX(0);
}

.navLinks li a:hover {
  color: #bcbcbc;
}

/* Burger icon default hidden */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 28px;
  height: 3px;
  background: #ffffff;
  border-radius: 4px;
  transition: 0.3s;
}

/* ========================================================= */
/* ===== RESPONSIVE: TABLET & MEDIUM SCREENS max-width 1024px ===== */
@media (max-width: 1024px) {

  .navbar {
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  .burger {
    display: flex;
  }

  .navLinks {
    position: fixed;
    top: 70px;
    right: 0;
    background: #ff9b05;
    width: 260px;
    height: auto;
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    list-style: none;
  }

  .navLinks.open {
    transform: translateX(0);
  }
}

/* ========================================================= */
/* ===== RESPONSIVE: SMALL TABLET max-width 768px ===== */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 25px;
  }

  .navLinks li a {
    font-size: 18px;
    gap: 25px;
  }

  .navLinks {
    width: 230px;
  }
}

/* ========================================================= */
/* ===== RESPONSIVE: MOBILE max-width 480px ===== */
@media (max-width: 480px) {

  .navbar {
    padding: 10px 15px;
  }

  .logoContainer h1 {
    font-size: 18px;
  }

  .navLinks li a {
    font-size: 18px;
    gap: 15px;
  }

  .navLinks {
    width: 200px;
  }
}

